.chart-container {
    display: flex;
    align-items: flex-start; 
    flex-wrap: nowrap; 
    margin-right: 50px; 
  }


.bar-chart-container {
    width: 800px;
    height: 800px;
  } 
  
.pie-chart-container {
    width: 400px;
    height: 400px;
  }
  